@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  --c-accent: #ffb976;
  --c-text-regular: #1a1b1b;
  --c-text-second: #b2b2b2;
  --c-diagram-1: #2c73c9;
  --c-diagram-2: #aa2cc9;
  --c-diagram-3: #2cc982;
  --fz-regular: 18px;
  --fz-title-section: 44px;
  --z-dropdown: 10;
  --z-tooltip: 20;
  --z-sticky-header: 90;
  --z-popup: 100;
  --z-burger-button: 50;
  --z-burger: 110;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  visibility: hidden;
}

a,
button {
  cursor: pointer;
}

input,
button {
  border: none;
  padding: 0;
  background: none;
  display: inline-block;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
ol {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

body {
  font-size: var(--fz-regular);
  color: var(--c-text-regular);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.calc-tutor__title {
  color: #000000;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: var(--fz-title-section);
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.calc-tutor {
  padding-bottom: 40px;
  padding-top: 40px;
}

.calc-tutor-legend {
  padding-left: 50px;
}

.calc-tutor-legend-item {
  font-size: var(--fz-regular);
  color: var(--c-text-regular);
  margin-bottom: 18px;
  position: relative;
}

.calc-tutor-legend-item__name {
  font-weight: 600;
  position: relative;
}

.calc-tutor-legend-item__name:before {
  content: "";
  display: block;
  width: 35px;
  height: 1px;
  background-color: var(--c-accent);
  margin-right: 15px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -50px;
}

.calc-tutor-legend-item__name:after {
  content: " — ";
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 400;
}

.container--calculator {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(10, 11, 9, 0.04);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-position: top right;
}

.calc-calculator-controls__title {
  color: #000000;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: var(--fz-title-section);
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.calc-calculator-controls__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #b3b3b3;
  margin-bottom: 50px;
}

.calc-calculator-controls-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 25px;
}

.calc-calculator-controls-control__name {
  width: 260px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 140%;
  color: #1a1b1b;
}

.calc-calculator-controls-control-stepper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  max-width: 128px;
}

.calc-calculator-controls-control-stepper__step {
  background: #ffffff;
  border: 1px solid rgba(10, 11, 9, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  width: 26px;
  height: 26px;
  font-size: 18px;
  line-height: 1;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--c-accent);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.calc-calculator-controls-control-stepper__step:hover {
  color: #ffffff;
  background-color: var(--c-accent);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.calc-calculator-controls-control-stepper-value {
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  width: auto;
  min-width: 60px;
  height: 26px;
  font-size: 18px;
  line-height: 1;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--c-accent);
  position: relative;
}

.calc-calculator-controls-control-stepper-value__view {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}

.calc-calculator-controls-control-stepper-value__view:before {
  content: attr(data-value);
  font-size: 16px;
  line-height: 140%;
  color: #1a1b1b;
  pointer-events: none;
  margin-right: 2px;
}

.calc-calculator-controls-control-stepper-value__view--percent:after {
  content: "%";
  color: var(--c-text-second);
  font-size: 16px;
  pointer-events: none;
}

.calc-calculator-controls-control-stepper-value__view--money:after {
  content: "₽";
  color: var(--c-text-second);
  font-size: 16px;
}

.calc-calculator-controls-control-stepper-value__input {
  border: 1px solid rgba(10, 11, 9, 0.1);
  width: 100%;
  height: 100%;
  color: transparent;
  text-align: center;
}

.calc-calculator-controls-control-stepper-value__input:focus {
  border: 1px solid var(--c-accent);
}

.calc-calculator-controls-control-stepper__step
+ .calc-calculator-controls-control-stepper-value {
  width: 60px;
}

.calc-calculator-controls-control-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  position: relative;
}

.calc-calculator-controls-control-range:before, .calc-calculator-controls-control-range:after {
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #b3b3b3;
}

.calc-calculator-controls-control-range:after {
  display: block;
  max-width: 150px;
  width: 100%;
}

.calc-calculator-controls-control-range--years:before {
  content: "1";
}

.calc-calculator-controls-control-range--years:after {
  content: "100";
}

.calc-calculator-controls-control-range--median:before {
  content: "1";
}

.calc-calculator-controls-control-range--median:after {
  content: "100%";
}

.calc-calculator-controls-control-range--onetime:before {
  content: "1";
}

.calc-calculator-controls-control-range--onetime:after {
  content: "100 000 000";
}

.calc-calculator-controls-control-range--yearly:before {
  content: "1";
}

.calc-calculator-controls-control-range--yearly:after {
  content: "100 000 000";
}

.calc-calculator-controls-control-range--inflation:before {
  content: "1";
}

.calc-calculator-controls-control-range--inflation:after {
  content: "100%";
}

.calc-calculator-controls-control-range__slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.calc-calculator-controls-control-range__slider:before {
  display: block;
  width: calc(attr(max) / 100 * attr(value));
  background-color: red;
  height: 20px;
}

input[type="range"].calc-calculator-controls-control-range__slider {
  min-width: 280px;
  max-width: 280px;
}

.calc-calculator-controls-calculate {
  width: 100%;
  padding-top: 25px;
  bottom: 40px;
  border-top: 1px solid rgba(10, 11, 9, 0.04);
}

.calc-calculator-controls-calculate__button {
  background: #ffb976;
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  max-width: 282px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.calc-calculator-charts {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: none;
}

.calc-calculator-charts__return {
  max-width: 209px;
  width: 100%;
  display: block;
  background: #fff;
  border: 1px solid #0a0b09;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #0a0b09;
  padding: 18px;
  margin-left: auto;
  position: relative;
  top: -40px;
}

.calc-calculator-charts-chart__wrapper {
  max-width: 830px;
}

.calc-calculator-charts-chart__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #1a1b1b;
  margin-bottom: 30px;
}

.calc-calculator-charts-chart__title--color {
  color: #c95b2c;
}

.calc-calculator-charts-chart-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 36px;
}

.calc-calculator-charts-chart-summary-stat {
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 10px;
}

.calc-calculator-charts-chart-summary-stat--fund {
  border-left-color: var(--c-diagram-1);
}

.calc-calculator-charts-chart-summary-stat--easy {
  border-left-color: var(--c-diagram-2);
}

.calc-calculator-charts-chart-summary-stat--hard {
  border-left-color: var(--c-diagram-3);
}

.calc-calculator-charts-chart-summary-stat__name {
  font-weight: 600;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #949393;
  margin-bottom: 5px;
}

.calc-calculator-charts-chart-summary-stat__value {
  font-weight: 700;
  font-size: 35px;
  line-height: 120%;
  color: #1a1b1b;
}

.calc-calculator-charts-chart-summary-stat__value:after {
  content: "₽";
  color: #b2b2b2;
}

.ct-grid {
  stroke: #f7f7f7 !important;
  stroke-width: 1px !important;
}

.ct-grids line {
  stroke-dasharray: 0 !important;
}

.calc-chart-label {
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #b3b3b3;
}

.calc-chart-label--y:after {
  content: "₽";
  margin-left: 2px;
}

.ct-vertical {
  z-index: 1;
  position: relative;
}

.ct-series {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.ct-area {
  fill-opacity: 0.05 !important;
}

.ct-series-a .ct-area {
  fill: var(--c-diagram-3) !important;
}

.ct-series-a .ct-point {
  stroke: var(--c-diagram-3) !important;
}

.ct-series-a .ct-line {
  stroke: var(--c-diagram-3) !important;
}

.ct-series-b .ct-area {
  fill: var(--c-diagram-2) !important;
}

.ct-series-b .ct-point {
  stroke: var(--c-diagram-2) !important;
}

.ct-series-b .ct-line {
  stroke: var(--c-diagram-2) !important;
}

.ct-point {
  cursor: pointer;
  position: relative;
}

.ct-point:before {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(title);
}

.calc-calculator-charts-chart-summary-container {
  margin-left: -15px;
  position: relative;
}

.calc-calculator-charts-chart-summary-container:before {
  content: "";
  position: absolute;
  display: block;
  height: calc(100% - 56px);
  width: 2px;
  bottom: 41px;
  left: 79px;
  background: #00273d;
  opacity: 0.2;
}

.calc-calculator-charts-chart-summary-container:after {
  content: "";
  position: absolute;
  display: block;
  width: calc(100% - 86px);
  height: 2px;
  bottom: 41px;
  right: calc(0.7%);
  background: #00273d;
  opacity: 0.2;
}

.calc-calculator-charts-chart-summary-container svg {
  overflow: visible;
}

.calc-calculator-controls-control-range__slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 8px 0;
}

.calc-calculator-controls-control-range__slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #f7f7f7;
  border-radius: 0;
}

.calc-calculator-controls-control-range__slider::-webkit-slider-thumb {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background: #373c44;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c95a2b), to(#ffb976));
  background-image: linear-gradient(180deg, #c95a2b 0%, #ffb976 100%);
  border: 4px solid #ffb976;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0 0 2px #ffb976;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0 0 2px #ffb976;
}

.calc-calculator-controls-control-range__percentage {
  background: -webkit-gradient(linear, left top, right top, from(#c95a2b), to(#ffb976));
  background: linear-gradient(90deg, #c95a2b 0%, #ffb976 100%);
  border-radius: 999px;
  width: 100%;
  max-width: 280px;
  height: 4px;
  position: absolute;
  top: 8px;
  left: 20px;
  max-width: 280px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  pointer-events: none;
}
/*# sourceMappingURL=index.css.map */